day14/workflows/day14_transport_kpi_workflow.json
{
  "name": "Day14_Transport_KPIs_Daily_Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "d8f6e8c0-3a2f-4b5d-9c1e-2f4a6b8d0e1f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "day14-transport-kpis-trigger"
    },
    {
      "parameters": {
        "jsCode": "// Cities to monitor (IBGE codes)\nconst cities = {\n  'São Paulo': '3550308',\n  'Rio de Janeiro': '3304557',\n  'Brasília': '5300108',\n  'Salvador': '2927408',\n  'Fortaleza': '2304400',\n  'Belo Horizonte': '3106200',\n  'Manaus': '1302603',\n  'Curitiba': '4106902',\n  'Recife': '2611606',\n  'Porto Alegre': '4314902'\n};\n\n// Transport keywords (Portuguese)\nconst keywords = [\n  'transporte',\n  'mobilidade',\n  'trânsito',\n  'veículo',\n  'ônibus',\n  'regulação',\n  'passageiros'\n];\n\n// Date range (last 24 hours)\nconst today = new Date();\nconst yesterday = new Date(today);\nyesterday.setDate(yesterday.getDate() - 1);\n\nconst sinceDate = yesterday.toISOString().split('T')[0];\nconst untilDate = today.toISOString().split('T')[0];\n\n// Create queries array - one query combining all keywords\nconst queries = [];\nfor (const [cityName, ibgeCode] of Object.entries(cities)) {\n  queries.push({\n    city: cityName,\n    territory_id: ibgeCode,\n    keyword: keywords.join(' OR '),  // Combine keywords with OR\n    since: sinceDate,\n    until: untilDate\n  });\n}\n\nreturn queries.map(q => ({ json: q }));"
      },
      "id": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Prepare API Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {
          "reset": true
        }
      },
      "id": "b2c3d4e5-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://queridodiario.ok.org.br/api/gazettes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "territory_ids",
              "value": "={{ $json.territory_id }}"
            },
            {
              "name": "querystring",
              "value": "={{ $json.keyword }}"
            },
            {
              "name": "excerpt_size",
              "value": "500"
            },
            {
              "name": "number_of_excerpts",
              "value": "3"
            },
            {
              "name": "size",
              "value": "10"
            },
            {
              "name": "since",
              "value": "={{ $json.since }}"
            },
            {
              "name": "until",
              "value": "={{ $json.until }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      },
      "id": "c3d4e5f6-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Query Querido Diário API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "d4e5f6a7-8b9c-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "webhookId": "day14-rate-limit"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "e5f6a7b8-9c0d-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = {};\n\n// Group by city\nitems.forEach(item => {\n  const city = item.json.city || 'Unknown';\n  const totalGazettes = item.json.total_gazettes || 0;\n  \n  if (!results[city]) {\n    results[city] = {\n      gazettes: [],\n      total: 0\n    };\n  }\n  \n  results[city].total += totalGazettes;\n  if (item.json.gazettes && Array.isArray(item.json.gazettes)) {\n    results[city].gazettes.push(...item.json.gazettes);\n  }\n});\n\n// Calculate KPIs\nconst kpis = {\n  new_regulations: Object.values(results).reduce((sum, city) => sum + city.total, 0),\n  active_municipalities: Object.keys(results).filter(city => results[city].total > 0).length,\n  compliance_mentions: 0,\n  safety_incidents: 0,\n  cities_monitored: Object.keys(results).length\n};\n\n// Count keyword mentions in excerpts\nconst complianceKeywords = ['prazo', 'cumprimento', 'fiscalização', 'obrigatoriedade'];\nconst safetyKeywords = ['acidente', 'segurança', 'infração', 'multa'];\n\nObject.values(results).forEach(cityData => {\n  cityData.gazettes.forEach(gazette => {\n    if (gazette.excerpts && Array.isArray(gazette.excerpts)) {\n      gazette.excerpts.forEach(excerpt => {\n        const text = excerpt.toLowerCase();\n        complianceKeywords.forEach(kw => {\n          if (text.includes(kw)) kpis.compliance_mentions++;\n        });\n        safetyKeywords.forEach(kw => {\n          if (text.includes(kw)) kpis.safety_incidents++;\n        });\n      });\n    }\n  });\n});\n\n// Generate insights\nconst trendInsight = kpis.new_regulations > 10\n  ? 'Alta atividade regulatória detectada'\n  : kpis.new_regulations > 0\n  ? 'Atividade regulatória normal'\n  : 'Baixa atividade no período';\n\nconst highlightInsight = `${kpis.active_municipalities} município(s) com novas publicações`;\n\nconst attentionInsight = kpis.safety_incidents > 5\n  ? 'Aumento em menções de segurança viária'\n  : 'Padrão normal de segurança';\n\n// Get active cities list\nconst activeCities = Object.keys(results)\n  .filter(c => results[c].total > 0)\n  .sort();\n\n// Get top topics (simplified - first 5 cities with content)\nconst topTopics = [];\nfor (const [city, data] of Object.entries(results)) {\n  if (data.total > 0 && topTopics.length < 5) {\n    topTopics.push({\n      city: city,\n      topic: 'Regulamentação de Transporte',\n      count: data.total\n    });\n  }\n}\n\nreturn [{\n  json: {\n    kpis,\n    active_cities: activeCities,\n    timestamp: new Date().toISOString(),\n    date_since: items[0]?.json.since || '',\n    date_until: items[0]?.json.until || '',\n    trend_insight: trendInsight,\n    highlight_insight: highlightInsight,\n    attention_insight: attentionInsight,\n    top_topics: topTopics,\n    days_monitored: 1\n  }\n}];"
      },
      "id": "f6a7b8c9-0d1e-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Calculate KPIs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\n// Determine severity classes\nconst complianceSeverity = data.kpis.compliance_mentions > 10 ? 'critical' : \n                           data.kpis.compliance_mentions > 5 ? 'warning' : '';\nconst safetySeverity = data.kpis.safety_incidents > 10 ? 'critical' : \n                       data.kpis.safety_incidents > 5 ? 'warning' : '';\n\n// Format city badges\nconst cityBadgesHtml = data.active_cities.length > 0\n  ? data.active_cities.map(c => `<span class=\"city-badge\">${c}</span>`).join('\\n')\n  : '<span class=\"city-badge\">Nenhum município ativo</span>';\n\n// Format top topics table\nlet topicsTableHtml = '';\nif (data.top_topics && data.top_topics.length > 0) {\n  const rows = data.top_topics.map(topic => \n    `<tr>\n      <td>${topic.city}</td>\n      <td>${topic.topic}</td>\n      <td>${topic.count}</td>\n    </tr>`\n  ).join('\\n');\n  \n  topicsTableHtml = `\n    <h3>🔍 Principais Tópicos Identificados</h3>\n    <table>\n      <thead>\n        <tr>\n          <th>Município</th>\n          <th>Tópico</th>\n          <th>Publicações</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${rows}\n      </tbody>\n    </table>\n  `;\n} else {\n  topicsTableHtml = '';\n}\n\n// Build complete HTML email\nconst htmlBody = `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Relatório Diário - Transport KPIs Brasil</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 800px;\n            margin: 0 auto;\n            padding: 20px;\n            background-color: #f5f5f5;\n        }\n        .email-container {\n            background-color: #ffffff;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n            overflow: hidden;\n        }\n        .header {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        .header h1 {\n            margin: 0;\n            font-size: 24px;\n            font-weight: 600;\n        }\n        .header p {\n            margin: 10px 0 0 0;\n            opacity: 0.9;\n            font-size: 14px;\n        }\n        .content {\n            padding: 30px;\n        }\n        .kpi-grid {\n            display: grid;\n            grid-template-columns: repeat(2, 1fr);\n            gap: 20px;\n            margin: 30px 0;\n        }\n        .kpi-card {\n            background-color: #f8f9fa;\n            border-left: 4px solid #667eea;\n            padding: 20px;\n            border-radius: 4px;\n        }\n        .kpi-card.warning {\n            border-left-color: #ffa500;\n        }\n        .kpi-card.critical {\n            border-left-color: #dc3545;\n        }\n        .kpi-value {\n            font-size: 36px;\n            font-weight: bold;\n            color: #667eea;\n            margin: 10px 0;\n        }\n        .kpi-label {\n            font-size: 14px;\n            color: #6c757d;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n            font-weight: 600;\n        }\n        .kpi-description {\n            font-size: 13px;\n            color: #868e96;\n            margin-top: 8px;\n        }\n        .summary-section {\n            background-color: #e3f2fd;\n            border-radius: 8px;\n            padding: 20px;\n            margin: 20px 0;\n        }\n        .summary-section h3 {\n            margin-top: 0;\n            color: #1976d2;\n        }\n        .city-list {\n            display: flex;\n            flex-wrap: wrap;\n            gap: 10px;\n            margin-top: 15px;\n        }\n        .city-badge {\n            background-color: #667eea;\n            color: white;\n            padding: 5px 12px;\n            border-radius: 20px;\n            font-size: 12px;\n            font-weight: 500;\n        }\n        .footer {\n            background-color: #f8f9fa;\n            padding: 20px 30px;\n            text-align: center;\n            font-size: 12px;\n            color: #6c757d;\n            border-top: 1px solid #dee2e6;\n        }\n        .footer a {\n            color: #667eea;\n            text-decoration: none;\n        }\n        .timestamp {\n            font-size: 12px;\n            color: #868e96;\n            text-align: right;\n            margin-bottom: 20px;\n        }\n        table {\n            width: 100%;\n            border-collapse: collapse;\n            margin: 20px 0;\n        }\n        th {\n            background-color: #667eea;\n            color: white;\n            padding: 12px;\n            text-align: left;\n            font-weight: 600;\n        }\n        td {\n            padding: 12px;\n            border-bottom: 1px solid #dee2e6;\n        }\n        tr:hover {\n            background-color: #f8f9fa;\n        }\n        @media (max-width: 600px) {\n            .kpi-grid {\n                grid-template-columns: 1fr;\n            }\n            .content {\n                padding: 20px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"header\">\n            <h1>🚦 Relatório Diário - Transport KPIs Brasil</h1>\n            <p>Monitoramento de Regulamentações de Transporte e Mobilidade</p>\n        </div>\n\n        <div class=\"content\">\n            <div class=\"timestamp\">\n                Relatório gerado em: ${new Date(data.timestamp).toLocaleString('pt-BR', {timeZone: 'America/Sao_Paulo'})}\n            </div>\n\n            <h2>📊 Indicadores Principais</h2>\n            <p>Resumo das atividades regulatórias de transporte nos últimos ${data.days_monitored} dia(s) em ${data.kpis.cities_monitored} municípios brasileiros.</p>\n\n            <div class=\"kpi-grid\">\n                <div class=\"kpi-card\">\n                    <div class=\"kpi-label\">Novas Regulamentações</div>\n                    <div class=\"kpi-value\">${data.kpis.new_regulations}</div>\n                    <div class=\"kpi-description\">Documentos publicados sobre transporte/mobilidade</div>\n                </div>\n\n                <div class=\"kpi-card\">\n                    <div class=\"kpi-label\">Municípios Ativos</div>\n                    <div class=\"kpi-value\">${data.kpis.active_municipalities}</div>\n                    <div class=\"kpi-description\">Cidades com atualizações no período</div>\n                </div>\n\n                <div class=\"kpi-card ${complianceSeverity}\">\n                    <div class=\"kpi-label\">Menções de Conformidade</div>\n                    <div class=\"kpi-value\">${data.kpis.compliance_mentions}</div>\n                    <div class=\"kpi-description\">Prazos, fiscalização e obrigatoriedades</div>\n                </div>\n\n                <div class=\"kpi-card ${safetySeverity}\">\n                    <div class=\"kpi-label\">Relatórios de Segurança</div>\n                    <div class=\"kpi-value\">${data.kpis.safety_incidents}</div>\n                    <div class=\"kpi-description\">Acidentes e infrações mencionadas</div>\n                </div>\n            </div>\n\n            <div class=\"summary-section\">\n                <h3>🏙️ Municípios Monitorados</h3>\n                <p>Análise abrange as principais capitais e regiões metropolitanas do Brasil:</p>\n                <div class=\"city-list\">\n                    ${cityBadgesHtml}\n                </div>\n            </div>\n\n            ${topicsTableHtml}\n\n            <div class=\"summary-section\">\n                <h3>💡 Insights</h3>\n                <ul>\n                    <li><strong>Tendência:</strong> ${data.trend_insight}</li>\n                    <li><strong>Destaque:</strong> ${data.highlight_insight}</li>\n                    <li><strong>Atenção:</strong> ${data.attention_insight}</li>\n                </ul>\n            </div>\n        </div>\n\n        <div class=\"footer\">\n            <p>\n                <strong>Fonte de Dados:</strong> <a href=\"https://queridodiario.ok.org.br\">Querido Diário</a> - Diários Oficiais Municipais do Brasil<br>\n                <strong>Período de Análise:</strong> ${data.date_since} a ${data.date_until}\n            </p>\n            <p style=\"margin-top: 15px;\">\n                🤖 Relatório gerado automaticamente via n8n • Day 14 - Advent Automation 2025\n            </p>\n        </div>\n    </div>\n</body>\n</html>`;\n\n// Create email subject\nconst subject = `🚦 Transport KPIs - ${data.date_until} - ${data.kpis.new_regulations} Nova(s) Regulamentação(ões)`;\n\nreturn [{\n  json: {\n    html_body: htmlBody,\n    subject: subject,\n    kpis: data.kpis,\n    timestamp: data.timestamp\n  }\n}];"
      },
      "id": "a7b8c9d0-1e2f-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Build HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.DAY14_SENDER_EMAIL || 'reports@transport-analytics.example.com' }}",
        "toEmail": "={{ $env.DAY14_RECIPIENT_EMAILS || 'your-email@example.com' }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html_body }}",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "b8c9d0e1-2f3a-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1850,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "set1",
              "name": "execution_status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "set2",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "set3",
              "name": "regulations_count",
              "value": "={{ $('Calculate KPIs').item.json.kpis.new_regulations }}",
              "type": "number"
            },
            {
              "id": "set4",
              "name": "active_cities",
              "value": "={{ $('Calculate KPIs').item.json.kpis.active_municipalities }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "c9d0e1f2-3a4b-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2050,
        300
      ]
    },
    {
      "parameters": {},
      "id": "d0e1f2a3-4b5c-6d7e-8f9a-0b1c2d3e4f5a",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1450,
        500
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.DAY14_SENDER_EMAIL || 'reports@transport-analytics.example.com' }}",
        "toEmail": "={{ $env.DAY14_RECIPIENT_EMAILS || 'your-email@example.com' }}",
        "subject": "❌ Day 14 Workflow Failed - Transport KPIs",
        "emailType": "text",
        "message": "=O workflow de Day 14 Transport KPIs falhou.\n\nErro: {{ $json.error?.message || 'Erro desconhecido' }}\nNode: {{ $json.error?.node?.name || 'Desconhecido' }}\nTempo: {{ $now }}\n\nPor favor, verifique o n8n para mais detalhes.",
        "options": {}
      },
      "id": "e1f2a3b4-5c6d-7e8f-9a0b-1c2d3e4f5a6b",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1650,
        500
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Prepare API Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare API Queries": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Query Querido Diário API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Querido Diário API": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        null,
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Calculate KPIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate KPIs": {
      "main": [
        [
          {
            "node": "Build HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "id": "day14-transport-kpis",
  "meta": {
    "instanceId": "day14-advent-automation-2025"
  },
  "tags": [
    {
      "createdAt": "2025-12-15T00:00:00.000Z",
      "updatedAt": "2025-12-15T00:00:00.000Z",
      "id": "1",
      "name": "advent-automation"
    },
    {
      "createdAt": "2025-12-15T00:00:00.000Z",
      "updatedAt": "2025-12-15T00:00:00.000Z",
      "id": "2",
      "name": "transport-analytics"
    }
  ]
}
