day11/workflows/day11_n8n_SIMPLIFIED.json
{
  "name": "Day 11 - Retail Report (SIMPLIFIED)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily at 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Simular dados do Day 01 (synthetic data)\nconst daysBack = 7;\nconst endDate = new Date();\nconst ga4Data = [];\nconst adsData = [];\n\n// Gerar GA4 data\nfor (let i = 0; i < daysBack; i++) {\n  const date = new Date(endDate);\n  date.setDate(date.getDate() - i);\n  const dateStr = date.toISOString().split('T')[0];\n  \n  ['google', 'facebook', 'direct', 'email'].forEach(source => {\n    ga4Data.push({\n      date: dateStr,\n      source: source,\n      sessions: Math.floor(Math.random() * 1000) + 500,\n      conversions: Math.floor(Math.random() * 50) + 10,\n      bounce_rate: (Math.random() * 0.3 + 0.3).toFixed(2)\n    });\n  });\n}\n\n// Gerar Ads data\nfor (let i = 0; i < daysBack; i++) {\n  const date = new Date(endDate);\n  date.setDate(date.getDate() - i);\n  const dateStr = date.toISOString().split('T')[0];\n  \n  ['Brand Campaign', 'Product Launch', 'Retargeting'].forEach(campaign => {\n    adsData.push({\n      date: dateStr,\n      campaign_name: campaign,\n      spend: (Math.random() * 500 + 300).toFixed(2),\n      clicks: Math.floor(Math.random() * 400) + 200,\n      impressions: Math.floor(Math.random() * 10000) + 5000,\n      conversions: Math.floor(Math.random() * 30) + 10\n    });\n  });\n}\n\nreturn {\n  ga4: ga4Data,\n  ads: adsData,\n  source: 'Synthetic Data (n8n)',\n  success: true\n};"
      },
      "id": "generate-data",
      "name": "Generate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calculate metrics\nconst ga4Data = $input.first().json.ga4;\nconst adsData = $input.first().json.ads;\n\n// GA4 Metrics\nconst totalSessions = ga4Data.reduce((sum, row) => sum + parseInt(row.sessions), 0);\nconst totalConversionsGA4 = ga4Data.reduce((sum, row) => sum + parseInt(row.conversions), 0);\nconst avgBounceRate = ga4Data.reduce((sum, row) => sum + parseFloat(row.bounce_rate), 0) / ga4Data.length;\n\n// Top source\nconst sourceMap = {};\nga4Data.forEach(row => {\n  sourceMap[row.source] = (sourceMap[row.source] || 0) + parseInt(row.sessions);\n});\nconst topSource = Object.keys(sourceMap).reduce((a, b) => sourceMap[a] > sourceMap[b] ? a : b);\n\n// Ads Metrics\nconst totalSpend = adsData.reduce((sum, row) => sum + parseFloat(row.spend), 0);\nconst totalClicks = adsData.reduce((sum, row) => sum + parseInt(row.clicks), 0);\nconst totalImpressions = adsData.reduce((sum, row) => sum + parseInt(row.impressions), 0);\nconst totalConversionsAds = adsData.reduce((sum, row) => sum + parseInt(row.conversions), 0);\n\nconst avgCTR = (totalClicks / totalImpressions * 100).toFixed(2);\nconst avgCPC = (totalSpend / totalClicks).toFixed(2);\nconst costPerConversion = (totalSpend / totalConversionsAds).toFixed(2);\n\n// Top campaign\nconst campaignMap = {};\nadsData.forEach(row => {\n  if (!campaignMap[row.campaign_name]) {\n    campaignMap[row.campaign_name] = { conversions: 0, spend: 0 };\n  }\n  campaignMap[row.campaign_name].conversions += parseInt(row.conversions);\n  campaignMap[row.campaign_name].spend += parseFloat(row.spend);\n});\n\nconst topCampaign = Object.keys(campaignMap).reduce((a, b) => {\n  const roasA = campaignMap[a].conversions / campaignMap[a].spend;\n  const roasB = campaignMap[b].conversions / campaignMap[b].spend;\n  return roasA > roasB ? a : b;\n});\n\n// Date range\nconst dates = ga4Data.map(r => r.date).sort();\nconst startDate = dates[0];\nconst endDate = dates[dates.length - 1];\nconst uniqueDates = [...new Set(dates)];\n\nreturn {\n  total_sessions: totalSessions,\n  total_conversions_ga4: totalConversionsGA4,\n  avg_bounce_rate: avgBounceRate,\n  top_source: topSource,\n  top_source_sessions: sourceMap[topSource],\n  total_spend: totalSpend,\n  total_clicks: totalClicks,\n  total_impressions: totalImpressions,\n  total_conversions_ads: totalConversionsAds,\n  avg_ctr: avgCTR,\n  avg_cpc: avgCPC,\n  cost_per_conversion: costPerConversion,\n  top_campaign: topCampaign,\n  top_campaign_conversions: campaignMap[topCampaign].conversions,\n  top_campaign_spend: campaignMap[topCampaign].spend.toFixed(2),\n  start_date: startDate,\n  end_date: endDate,\n  days_in_period: uniqueDates.length\n};"
      },
      "id": "calculate-metrics",
      "name": "Calculate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format Slack message\nconst m = $input.first().json;\n\nconst blocks = [\n  {\n    \"type\": \"header\",\n    \"text\": {\n      \"type\": \"plain_text\",\n      \"text\": \"📊 Daily Retail Performance Report\",\n      \"emoji\": true\n    }\n  },\n  {\n    \"type\": \"context\",\n    \"elements\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": `📅 *Report Period:* ${m.start_date} to ${m.end_date} (${m.days_in_period} days)`\n      }\n    ]\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*🌐 Website Traffic (GA4)*\"\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": `*Total Sessions:*\\n${parseInt(m.total_sessions).toLocaleString()}`\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": `*Conversions:*\\n${parseInt(m.total_conversions_ga4).toLocaleString()}`\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": `*Avg Bounce Rate:*\\n${(parseFloat(m.avg_bounce_rate) * 100).toFixed(1)}%`\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": `*Top Source:*\\n${m.top_source} (${parseInt(m.top_source_sessions).toLocaleString()} sessions)`\n      }\n    ]\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*💰 Paid Advertising (Google Ads)*\"\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": `*Total Spend:*\\n$${parseFloat(m.total_spend).toLocaleString('en-US', {minimumFractionDigits: 2})}`\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": `*Conversions:*\\n${parseInt(m.total_conversions_ads).toLocaleString()}`\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": `*Cost per Conversion:*\\n$${m.cost_per_conversion}`\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": `*CTR:*\\n${m.avg_ctr}%`\n      }\n    ]\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": `*🏆 Best Performing Campaign*\\n*${m.top_campaign}* generated *${m.top_campaign_conversions}* conversions with $${m.top_campaign_spend} spend`\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"context\",\n    \"elements\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": `✓ Automated via n8n | Generated at ${new Date().toISOString()}`\n      }\n    ]\n  }\n];\n\nreturn {\n  blocks: blocks,\n  text: `Daily Performance Report: ${m.start_date} to ${m.end_date}`\n};"
      },
      "id": "format-slack",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "COLE_SEU_WEBHOOK_AQUI",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ blocks: $json.blocks, text: $json.text }) }}",
        "options": {}
      },
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Daily at 8am UTC": {
      "main": [
        [
          {
            "node": "Generate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Data": {
      "main": [
        [
          {
            "node": "Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Metrics": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-11T00:00:00.000Z",
  "versionId": "1"
}
